<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapperPUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN""http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd"><mapper namespace="com.venada.efinance.pojo.ChristmasActive">	<select id="selectTopChristmasActive" parameterType="java.util.Map" resultType="ChristmasActive">	<![CDATA[ 		SELECT * FROM ec_christmas_active t WHERE t.createTime >=#{startTime}  AND t.createTime<=#{endTime}  ORDER BY sumdeposit DESC ,createtime  		 limit #{startIndex} , #{endIndex};	 ]]>	</select></mapper>