<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapperPUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN""http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd"><mapper namespace="com.venada.efinance.pojo.ChristmasActiveInvite">	<select id="selectTopChristmasActiveInvite" parameterType="java.util.Map" resultType="ChristmasActiveInvite">		SELECT * FROM ec_christmas_active_invite ORDER BY invitenum DESC ,createtime  limit #{startIndex} , #{endIndex};	</select></mapper>