<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapperPUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN""http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd"><mapper namespace="com.venada.efinance.pojo.DoubleEleven">	<select id="selectTop" parameterType="java.util.Map" resultType="DoubleEleven">		select * from ec_double_eleven order by sumdeposit desc ,createtime limit #{startIndex} , #{endIndex};	</select></mapper>