<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="GameRecommend">

	<resultMap type="gameRecommend" id="gameRecommendResult">
		<result column="id" property="id" />
		<result column="developer" property="developer" />
		<result column="type" property="type" />
		<result column="language" property="language" />
		<result column="theme" property="theme" />
		<result column="gameDescrip" property="gameDescrip" />
		<result column="gameUrl" property="gameUrl" />
		<result column="playCounts" property="playCounts" />
		<result column="createTime" property="createTime" />
		<result column="createBy" property="createBy" />
		<result column="modifyTime" property="modifyTime" />
		<result column="modifyBy" property="modifyBy" />
		<result column="orderBy" property="orderBy" />
		<result column="category" property="category" />
		<result column="gamepic_url" property="gamePicUrl" />
		<result column="gamename" property="gameName" />
	</resultMap>

<resultMap type="gameRecommend" id="gameRecommendComplexResult">
		<result column="id" property="id" />
		<result column="developer" property="developer" />
		<result column="type" property="type" />
		<result column="language" property="language" />
		<result column="theme" property="theme" />
		<result column="gameDescrip" property="gameDescrip" />
		<result column="gameUrl" property="gameUrl" />
		<result column="playCounts" property="playCounts" />
		<result column="createTime" property="createTime" />
		<result column="createBy" property="createBy" />
		<result column="modifyTime" property="modifyTime" />
		<result column="modifyBy" property="modifyBy" />
		<result column="orderBy" property="orderBy" />
		<result column="category" property="category" />
		<result column="gamepic_url" property="gamePicUrl" />
		<result column="gamename" property="gameName" />
		<result column="reward" property="reward" />
		<result column="square" property="square" />
		<result column="rectangle" property="rectangle" />
		<result column="typename" property="typeName" />
		<result column="deposit" property="deposit" />
		<result column="punish" property="punish" />
		<result column="clicks" property="clicks" />
		<result column="ismember" property="isMember" />
		<result column="gameId" property="gameId" />
		<result column="recommendOrderBy" property="recommendOrderBy" />
		
	</resultMap>
	
	<select id="queryGameRecommendByRand" resultMap="gameRecommendComplexResult" parameterType="java.util.Map">
	SELECT
	a.id gameId,
	a.orderBy recommendOrderBy,
	d.*, c.*, e.id square,
	f.id rectangle,
	b.typename
FROM
	ec_game_recommend a
LEFT JOIN ec_game d ON a.gamename = d.gamename
LEFT JOIN ec_game_policy c ON d.id = c.gameid
LEFT JOIN ec_game_pic e ON d.id = e.gameid
AND e.type = 1
LEFT JOIN ec_game_pic f ON d.id = f.gameid
AND f.type = 2
LEFT JOIN ec_game_type b ON d.type = b.id
WHERE
	1 = 1  order by rand() limit 2
	</select>
	
	<select id="queryGameRecommend" resultMap="gameRecommendComplexResult" parameterType="java.util.Map">
		<![CDATA[ 
		select a.id gameId,a.orderBy recommendOrderBy,d.*,c.*,e.id square,f.id rectangle,b.typename from ec_game_recommend a  left join ec_game d on a.gamename = d.gamename left join ec_game_policy c on d.id = c.gameid left join ec_game_pic e on d.id = e.gameid  and e.type = 1 left join ec_game_pic f on d.id = f.gameid  and f.type = 2 left join ec_game_type b on d.type = b.id where 1=1
		]]>
		
			<if test="keyword !=null and '' != keyword">
		<![CDATA[ 
		  and d.gamename like #{keyword} 
		  ]]>
		</if>
		
		<choose>
		<when test="sort == 'reward'"> order by c.reward desc, d.gamename asc </when>
		<when test="sort == 'deposit'"> order by c.deposit desc, d.gamename asc </when>
		<when test="sort == 'clicks'"> order by c.clicks desc, d.gamename asc </when>
		<when test="sort == 'clickNum'"> order by a.clickNum desc, d.gamename asc </when>
		<when test="sort2 == 'reward' and sortseq == 'down'"> order by c.reward desc, d.gamename asc </when>
		<when test="sort2 == 'deposit' and sortseq == 'down'"> order by c.deposit desc, d.gamename asc </when>
		<when test="sort2 == 'clicks' and sortseq == 'down'"> order by c.clicks desc, d.gamename asc </when>
		<when test="sort2 == 'clickNum' and sortseq == 'down'"> order by a.clickNum desc, d.gamename asc </when>
		<when test="sort2 == 'punish' and sortseq == 'down'"> order by c.punish desc, d.gamename asc </when>
		<when test="sort2 == 'punish' and sortseq == 'up'"> order by c.punish asc, d.gamename asc </when>
		<when test="sort2 == 'reward' and sortseq == 'up'"> order by c.reward asc, d.gamename asc </when>
		<when test="sort2 == 'deposit' and sortseq == 'up'"> order by c.deposit asc, d.gamename asc </when>
		<when test="sort2 == 'clicks' and sortseq == 'up'"> order by c.clicks asc, d.gamename asc </when>
		<when test="sort2 == 'clickNum' and sortseq == 'up'"> order by a.clickNum asc, d.gamename asc </when>
		<otherwise>
		<![CDATA[
		order by a.orderby asc, d.gamename asc
		]]>
		</otherwise>
		</choose>
		
		
		
		
		<if test="count != null and ''!=count">
		<![CDATA[  limit  #{count} ]]>
		</if>
	</select>
	
	<select id="getGameRecommendByName" parameterType="java.lang.String" resultType="gameRecommend">
		<![CDATA[ 
		select * from ec_game_recommend where gamename = #{value};
		]]>
	</select>
	
		<select id="getGameRecommendById" parameterType="java.lang.String" resultType="gameRecommend">
		<![CDATA[ 
		select * from ec_game_recommend where id = #{value};
		]]>
	</select>
	
	<delete id="delRecommendGameById" parameterType="java.lang.String">
	<![CDATA[
	delete from ec_game_recommend where id = #{value}
	]]>
	</delete>
	
	<update id="updateGameRecommend" parameterType="gameRecommend">
	<![CDATA[
	update ec_game_recommend set orderBy = #{orderBy} where id= #{id}
	]]>
	</update>
	
	

	<insert id="addGameRecommend" parameterType="gameRecommend">
	<![CDATA[ 
		insert into ec_game_recommend (
		id,
		developer,
		type,
		language,
		theme,
		gameDescrip,
		gameUrl,
		playCounts,
		createTime,
		createBy,
		modifyTime,
		modifyBy,
		orderBy,
		gamepic_url,
		gamename,
		category
		)
		values (
		#{id},
		#{developer},
		#{type},
		#{language},
		#{theme},
		#{gameDescrip},
		#{gameUrl},
		#{playCounts},
		#{createTime},
		#{createBy},
		#{modifyTime},
		#{modifyBy},
		#{orderBy},
		#{gamePicUrl},
		#{gameName},
		#{category}
		)
		]]>
	</insert>
	
	<delete id="deleteGameRecommend" parameterType="java.util.Map" >
	 <![CDATA[ 
	 delete from ec_game_recommend where 1=1 
	 ]]>
	 <if test="category != null and ''!=category">
	  <![CDATA[ 
	 and category = #{category}
	 ]]>
	 </if>
	 
	  <if test="gameName != null and ''!=gameName">
	  <![CDATA[ 
	 and gamename = #{gameName}
	 ]]>
	 </if>
	</delete>
	
	<select id="getRecommendGamesCounts" resultType="int" parameterType="java.util.Map">
		<![CDATA[ 
	   select count(1) from ec_game_recommend a  left join ec_game d on a.gamename = d.gamename left join ec_game_policy c on d.id = c.gameid left join ec_game_pic e on d.id = e.gameid  and e.type = 1 left join ec_game_pic f on d.id = f.gameid  and f.type = 2 left join ec_game_type b on d.type = b.id where 1=1
		]]>
	</select>

</mapper>