<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="LoginStatus">

	<select id="addLoginStatus" parameterType="LoginStatus">
		insert into ec_login_status (id,mobile,logintime) values(#{id},#{mobile},#{loginTime});
	</select>
	<select id="queryLoginStatus" parameterType="String" resultType="LoginStatus">
		select * from ec_login_status where mobile = #{value};
	</select>
</mapper>