<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.venada.efinance.pojo.ProjectInvest">

	<resultMap type="projectInvest" id="projectInvestResult">
		<result column="id" property="id" />
		<result column="project_id" property="project_id" />
		<result column="amount" property="amount" />
		<result column="support_num" property="support_num" />
		<result column="content" property="content" />
		<result column="orderbyId" property="orderbyId" />
		<result column="benefit_amount" property="benefit_amount"/>
		<result column="invest_name" property="invest_name"/>
		<result column="miss_benefit_amount" property="miss_benefit_amount"/>
		<result column="already_support_num" property="already_support_num"/>
	</resultMap>
	
	<select id="selectprojectInvestAll" resultMap="projectInvestResult" parameterType="java.util.Map">
		select * from ec_project_invest where 1 = 1 and project_id = #{ProjectId}
	</select>
	
	<select id="selectprojectInvestAllCount" resultType="int" parameterType="java.util.Map">
		select count(*) from ec_project_invest where 1 = 1 and project_id = #{ProjectId}
	</select>

	<select id="selectprojectInvestById" resultMap="projectInvestResult"
		parameterType="java.lang.String">
		select * from
		ec_project_invest
		where id = #{id}
	</select>
	
	<select id="selectprojectInvestByProjectId" resultMap="projectInvestResult"
		parameterType="java.lang.String">
		select * from
		ec_project_invest
		where project_id = #{ProjectId} order by amount asc
	</select>

	<insert id="addprojectInvest" parameterType="projectInvest">
		insert into
		ec_project_invest (
		id,
		project_id,
		amount,
		support_num,
		content,
		orderbyId,
		benefit_amount,
		invest_name,
		miss_benefit_amount
		)
		values (
		#{id},
		#{project_id},
		#{amount},
		#{support_num},
		#{content},
		#{orderbyId},
		#{benefit_amount},
		#{invest_name},
		#{miss_benefit_amount}
		)
	</insert>

	<update id="updateprojectInvestById" parameterType="projectInvest">
		update ec_project_invest
		<set>
			<if test="amount != null">
				amount = #{amount},
			</if>
			<if test="support_num != null">
				support_num = #{support_num},
			</if>
			<if test="content != null">
				content = #{content},
			</if>
			
			<if test="orderbyId != null">
				orderbyId = #{orderbyId},
			</if>
			<if test="benefit_amount != null">
				benefit_amount = #{benefit_amount},
			</if>
			<if test="invest_name != null">
				invest_name = #{invest_name},
			</if>
			<if test="miss_benefit_amount != null">
				miss_benefit_amount = #{miss_benefit_amount},
			</if>
			<if test="already_support_num != null">
				already_support_num = #{already_support_num},
			</if>
		</set>
		where id = #{id} 
	</update>
	
	<delete id="deleteprojectInvest" parameterType="java.lang.String">
		delete from ec_project_invest where id = #{id};
	</delete>
	
	<select id="getSumProjectInvest" resultType="decimal" parameterType="java.util.Map">
			SELECT IFNULL(SUM(t.amount*t.support_num),0) FROM  ec_project_invest t WHERE t.project_id = #{ProjectId}
	</select>
	

</mapper>