<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.venada.efinance.pojo.UserDetail">

	<resultMap type="UserDetail" id="userDetailMap">
		<result column="id" property="id" />
		<result column="userid" property="userid" />
		<result column="mobileNumber" property="mobileNumber" />
		<result column="email" property="email" />
		<result column="idCard" property="idCard" />
		<result column="gender" property="gender" />
		<result column="photo" property="photo" />
		<result column="birthday" property="birthday" />
		<result column="isMarried" property="isMarried" />
		<result column="incomeScope" property="incomeScope" />
		<result column="eduLevel" property="eduLevel" />
		<result column="liveProvince" property="liveProvince" />
		<result column="liveCity" property="liveCity" />
		<result column="liveArea" property="liveArea" />
		<result column="hometownProvince" property="hometownProvince" />
		<result column="hometownCity" property="hometownCity" />
		<result column="hometownArea" property="hometownArea" />
		<result column="profession" property="profession" />
		<result column="hobbies" property="hobbies" />
		<result column="remark" property="remark" />
		<result column="createTime" property="createTime" />
		<result column="modifyTime" property="modifyTime" />
		<result column="modifyBy" property="modifyBy" />
		<result column="graduated" property="graduated" />
		<result column="address" property="address" />
		<result column="qq" property="qq" />

	</resultMap>

	<select id="findUserDetailByUserId" parameterType="String"
		resultType="UserDetail">

		select * from ec_user_detail where userid = #{userid}

	</select>

	<select id="findUserDetailByMoblieNumber" parameterType="String"
		resultType="UserDetail">

		select * from ec_user_detail where mobileNumber =
		#{mobileNumber}

	</select>

	<insert id="addUserDetail" parameterType="UserDetail">

		insert into 
		ec_user_detail (
		id,
		userid,
		mobileNumber,
		email,
		idCard,
		gender,
		photo,
		birthday,
		isMarried,
		incomeScope,
		liveProvince,
		liveCity,
		liveArea,
		hometownProvince,
		hometownCity,
		eduLevel,
		graduated,
		profession,
		hobbies,
		createBy,
		createTime,
		modifyBy,
		modifyTime,
		remark,
		address,
		qq
		)
		values (
		#{id},
		#{userid},
		#{mobileNumber},
		#{email},
		#{idCard},
		#{gender},
		#{photo,jdbcType=BLOB},
		#{birthday},
		#{isMarried},
		#{incomeScope},
		#{liveProvince},
		#{liveCity},
		#{liveArea},
		#{hometownProvince},
		#{hometownCity},
		#{eduLevel},
		#{graduated},
		#{profession},
		#{hobbies},
		#{createBy},
		now(),
		#{modifyBy},
		#{modifyTime},
		#{remark},
		#{address},
		#{qq}
		)
	</insert>

	<update id="updateUserDetailByMobileNumber" parameterType="UserDetail">

		update ec_user_detail 
		
		<trim prefix="SET" suffixOverrides=",">
  			<if test="email != null">email = #{email} ,</if>
  			<if test="idCard != null">idCard = #{idCard} ,</if>
  			<if test="gender != null">gender = #{gender} ,</if>
  			<if test="photo != null">photo =#{ photo,jdbcType=BLOB},</if>
  			<if test="birthday != null">birthday = #{ birthday},</if>
  			<if test="isMarried != null">isMarried =#{ isMarried},</if>
  			<if test="incomeScope != null">incomeScope = #{incomeScope},</if>
  			<if test="liveProvince != null">liveProvince = #{liveProvince},</if>
  			<if test="liveCity != null">liveCity = #{liveCity},</if>
  			<if test="liveArea != null">liveArea = #{liveArea},</if>
  			<if test="hometownProvince != null">hometownProvince = #{hometownProvince},</if>
  			<if test="hometownCity != null">hometownCity = #{hometownCity},</if>
  			<if test="eduLevel != null">eduLevel = #{eduLevel},</if>
  			<if test="graduated != null">graduated = #{graduated},</if>
  			<if test="profession != null">profession = #{profession},</if>
  			<if test="hobbies != null">hobbies = #{hobbies},</if>
  			<if test="modifyBy != null">modifyBy = #{modifyBy},</if>
  			<if test="remark != null">remark = #{remark},</if>
  			<if test="modifyTime != null">modifyTime = #{modifyTime},</if>
  			<if test="address != null">address = #{address},</if>
  			<if test="qq != null">qq = #{qq},</if>
		</trim>
		
		where mobileNumber = #{mobileNumber}

	</update>



</mapper>