@charset "UTF-8";
/* CSS Document */
#header{ height:30px}
#center{ width:1000px; margin:0 auto;}
.center_list1{ width:1000px; height:400px; background:url(../images/khd/ios_bg01.png) no-repeat; position:relative; color:#666;}
.logo_detail{ position:absolute; width:390px; height:65px; right:108px; top:30px;}
.logo_detail dt{ display:inline-block; float:left}
.logo_detail h4{ font-size:18px;}

.down_detail{position:absolute; width:165px; height:190px; right:325px; top:100px;}
.android_btn a{ display:inline-block; width:165px; height:65px;background:url(../images/khd/down_n.png) no-repeat; cursor:pointer}
.android_btn:hover{background:url(../images/khd/down_h.png) no-repeat;}
.ios_btn a{ display:inline-block;width:165px; height:65px;background:url(../images/khd/down1_n.png) no-repeat; cursor:pointer}
.ios_btn:hover{background:url(../images/khd/down1_h.png) no-repeat;}
.ewm{ width:95px; height:90px;position:absolute; right:190px; top:108px; } 
.version{ width:165px; height:50px; position:absolute; top:235px; right:117px;}
.down_detail_detail h5{ font-size:14px;}
.center_list2{ width:1000px; height:375px; background:url(../images/khd/ios_bg02.png) no-repeat;}
.center_list3{ width:1000px; height:470px; background:url(../images/khd/ios_bg03.png) no-repeat; }
.center_list4{ width:1000px; height:390px; background:url(../images/khd/ios_bg04.png) no-repeat; }
.center_list5{ width:100%; height:50px; margin:0 auto; text-align:center; background:#f8f8f8;}
.center_list5 a{ width:118px; height:35px; display:inline-block;background:url(../images/khd/back_btn_n.png) no-repeat; }
.center_list5 a:hover{ width:118px; height:35px;background:url(../images/khd/back_btn_h.png) no-repeat; }