/*!
 * CSS - Calendar
 * Version - 1.0.0
 * Modify By Liu Zhi Hui
 * Date: 9-28-2013 09:52:48 (GMT Time)
 */
/* -- main -- */
.laws_cont{border:none}
.laws_cont h3{ font-size:16px; color:#224e73; position:relative; padding-left:23px; padding-bottom:8px; font-weight:bold}
.laws_cont .ico{background-position:-116px -144px; width:16px; height:16px; left:0; top:4px; position:absolute; margin-right:10px}
.laws_cont h3 a{color:#224e73}
.laws_cont p{ text-indent:2em}
.laws_cont span{width:400px; float:left; padding-right:20px; display:block; clear:both}
.laws_cont span a{ color:#349cd8}
.laws_cont img{ float:right; padding-left:20px}

.laws_text{ padding:10px; line-height:24px}
.laws_h3{ padding:20px 0 5px; text-align:center; font-size:16px}
.laws_text p{text-indent:2em}

.laws_items{ position:relative; height:40px; overflow:hidden}
.laws_items .line{ height:1px; font-size:0; line-height:0; overflow:hidden; float:left; background:#e7ecee; width:100%; position:absolute; left:0; top:20px}
.laws_items .r{ font-size:14px; height:30px; line-height:30px; position:absolute; color:#8a949c; left:auto; right:30px; top:5px; z-index:3;  background:#fff; padding:0 10px}
.pdf_word{position:relative; display:inline-block; height:24px; line-height:24px; padding-right:15px; color:#475058}
.pdf_word a,.pdf_word a:visited{color:#475058}
.pdf_word .icons{ width:10px; height:9px; background-position:-111px -66px; position:absolute; top:7px; right:0}

.tab{width:900px; overflow:hidden; position:relative}
.tab h2{height:50px; line-height:50px; padding:0 20px}
.tab .rt{position: absolute; top:0; right:20px}
.tab table{width:900px; border-collapse:collapse; border:1px solid #e7ecee}
.tab table tr{height:40px}
.tab table th{background:#f0f5f7}
.tab table td{border:1px solid #d0d3d8; text-align:center}