/*content*/
body {
	width: 100%;
}
#content {
	margin: 0 auto;
	position: relative;
	width: 1257px;
	z-index: 2;
}
.content_top_w {
	width: 100%;
	height: 48px;
	line-height: 48px;
	color: #f16244;
	font-size: 18px;
	font-weight: bold;
}
.content_Top {
	width: 1257px;
	height: 102px;
	margin-bottom: 17px;
	margin: 0 auto;
}
.content_Top img {
	float: left;
	float: left;
}
/*----------------------------content_c-------------------------------------*/

.content_c {
	width: 1257px;
	background-color: #f5f5f5;
	min-height: 1200px;
	height: auto;
	margin-bottom: 20px;
	float: left;
	padding: 10px 7px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}
/*----------------------------content_c-------------------------------------*/
.sign-title {
	background-image: url(../images/mod-sign/top.png);
	background-repeat: no-repeat;
}
.sign-title {
	height: 350px;
	position: relative;
	width: 750px;
}
/*----------------------------sign-intro-------------------------------------*/

.sign-intro {
	font-family: "Microsoft Yahei";
	font-size: 15px;
	line-height: 2;
	margin-top: 5px;
	padding-left: 40px;
	position: relative;
	z-index: 10;
}
.sign-intro .sign-twoCol .name {
	color: #555555;
}
.sign-twoCol .name {
	float: left;
	text-align: right;
	width: 90px;
}
.sign-twoCol .cont {
	overflow: hidden;
	white-space: normal;
	word-wrap: break-word;
}


.sign-opt {
	margin-top: 30px;
	position: relative;
}
.sign-opt .cont {
	overflow: visible;
}
.sign-btn, .sign-ico, .date-ico-hook, .date-ico-eight, .sign-wDay, .sign-wMonth .on, .sign-wMonth, .sign-ico-arr,.sign-btn-succ{
	background-image: url(../images/mod-sign/bg.png);
	background-repeat: no-repeat;
}
.sign-btn {
	background-position:0 -456px;
	height: 67px;
	width: 212px;
	position: absolute;
	margin-left: 85px;
	cursor:pointer;
}
.sign-btn-succ {
	background-position: -212px -456px;
	cursor: pointer;
	position: absolute;
	margin-left: 85px;
	height: 67px;
	width: 212px;
	cursor:pointer;
}
/*----------------------------sign-weather-------------------------------------*/
.sign-weather {
	border-left: 2px dashed #C1C1C1;
	font-family: 'Microsoft Yahei', simhei;
	height: 500px;
	position: absolute;
	right: 0;
	top: -320px;
	width: 475px;
	z-index: 20;
}
.sign-weather .mod-multiActMenu .g-menu a {
	color: #32649B;
	display: inline;
}
.sign-weather .mod-multiActMenu .g-menu a:hover {
	background-color: #FFFFFF;
	text-decoration: underline;
}
.sign-weather .mod-multiActMenu .g-menu-label {
	padding-left: 10px;
}
.sign-weather .mod-multiActMenu .g-menu .content {
	padding-left: 15px;
	padding-top: 14px;
}
.sign-weather-bord .u1, .sign-weather-bord .sign-weather-dec {
	background-image: url(../images/mod-sign/xiaou_afternoon.png);
	height: 160px;
	left: -11px;
	position: absolute;
	top: 3px;
	width: 200px;
}
.sign-weather-bord .sign-opt {
	left: 122px;
	line-height: normal;
	margin-top: 0;
	position: absolute;
	top: 27px;
	z-index: 20;
	width:200px;
}
.sign-weather-bord .sign-opt .sign-mulUser {
	font-size: 30px;
	margin-left: 60px;
	padding-left: 0;
	vertical-align: middle;
}
.sign-weather-bord .sign-opt .sign-mulUser-small {
	font-size: 20px;
}
.sign-weather-bord .sign-opt .sign-mulUser .sign-mulUser-txtNormal {
	color: #555555;
	font-size: 24px;
	font-weight: normal;
	padding-right: 5px;
}
.sign-weather-bord .sign-weather-greeting {
	font-size: 15px;
	left: 183px;
	position: absolute;
	top: 75px;
}
.sign-weather-bord .sign-weather-list {
	margin-top: 230px;
}
.sign-weather-bord .sign-weather-item {
	margin: 15px 0;
	position: relative;
}
.sign-weather-item {
	background-color: #EBEBEB;
	height: 115px;
	padding-left: 10px;
}
.sign-opt .sign-mulUser {
	color: #32649B;
	cursor: pointer;
	font-family: "Microsoft Yahei";
	font-weight: bold;
	margin-left: 20px;
	position: relative;
}
.sign-ico-arr {
	background-position: 0 -530px;
	height: 16px;
	width: 16px;
	position: absolute;
	margin-top: 15px;
	margin-left: 5px;
}
.sign-weather-bord .sign-weather-item .sign-weather-figure {
	bottom: 5px;
	position: absolute;
	right: 5px;
}
.sign-weather-bord .daysfuture {
	font-size: 16px;
	padding-bottom: 15px;
	border-left: 2px dashed #C1C1C1;
	margin-left: -2px;
	padding-left: 10px;
}
.sign-weather-bord .sign-weather-sptln {
	border-top: 1px solid #DCDCDC;
	font-size: 0;
	height: 1px;
	line-height: 0;
}
.btn-dft-disabd span, .txt-disabd, .txt-del, .txt-info {
	color: #7D7D7D;
}
.sign-weather-item .sign-weather-t {
	font-size: 18px;
	padding: 5px 0;
}
.sign-weather-item .sign-weather-condition {
	font-size: 18px;
	padding: 5px 0;
}
.daysfuture a {
	color: #32649B;
}
.sign-weather-bord .sign-weather-share {
	font-size: 16px;
	padding-top: 15px;
	height: 48px;
	line-height: 48px;
	border-left: 2px dashed #C1C1C1;
	margin-left: -2px;
	padding-left: 10px;
}
.sign-weather-share p {
	margin-top: 15px;
}
.sign-weather-share a {
	width:12px;
	height:12px;
	display: inline-block;
}
.ico-share {
	background-image: url(../images/mod-sign/share.png);
	height: 30px;
	margin-right: 4px;
	width: 30px;
	position: absolute;
}
.ico-share-tentxun {
	background-position: 0 0;
}
.ico-share-tqq {
	background-position: 0 -30px;
}
.ico-share-tsina {
	background-position: 0 -60px;
}
.ico-share-qzone {
	background-position: 0 -90px;
}
.ico-share-tmore {
	background-position: 0 -120px;
}
/*----------------------------mod-multiActMenu-------------------------------------*/
.mod-multiActMenu .g-menu-inner {
	background-color: #FFFFFF;
	border: 1px solid #DCC8AA;
}
.mod-multiActMenu .g-menu-label {
	background-color: #F4F4F4;
	border-bottom: 1px solid #CBCBCB;
	color: #797979;
	font-weight: normal;
	height: 23px;
	line-height: 22px;
	overflow: hidden;
	padding-left: 6px;
	position: relative;
	text-align: left;
	font-size: 12px;
}
.ico-close {
	background-image: url(../images/mod-sign/close.gif);
	background-position: 3px 3px;
	background-repeat: no-repeat;
	height: 14px;
	width: 14px;
}
.sign-weather .mod-multiActMenu .g-menu-label {
	padding-left: 10px;
}
.mod-multiActMenu .g-menu-inner {
	background-color: #FFFFFF;
	border: 1px solid #DCC8AA;
}
.sign-weather .mod-multiActMenu .g-menu {
	width: 223px;
}
.sign-weather .mod-multiActMenu .ico-close {
	cursor: pointer;
	position: absolute;
	right: 5px;
	top: 5px;
}
.sign-weather .mod-multiActMenu .g-menu .links {
	margin-top: 10px;
	padding-bottom: 10px;
	font-size: 12px;
	font-weight: normal;
}
.sign-weather .mod-multiActMenu .g-menu a {
	color: #32649B;
	display: inline;
}
.sign-weather .mod-multiActMenu .g-menu a:hover {
	background-color: #FFFFFF;
	text-decoration: underline;
}
.sign-weather .mod-multiActMenu .g-menu-label {
	padding-left: 10px;
}
.sign-weather .mod-multiActMenu .g-menu .content {
	padding-left: 15px;
	padding-top: 14px;
}
.sign-weather .mod-multiActMenu .g-menu select {
	border: 1px solid #ABADB3;
	color: #7C7C7C;
	margin: 0 5px 0 0;
	padding: 2px;
	height: 22px;
	font-size: 12px;
	font-weight: normal;
}
/*----------------------------sign-summary-------------------------------------*/
.sign-summary {
	font-family: "Microsoft Yahei";
	font-size: 20px;
	font-weight: bold;
	margin-left: -730px;
	margin-top: 30px;
	display: inline-block;
	height: 48px;
	width: 600px;
	float: left;
}
.sign-summary .txt-striking {
	font-size: 22px;
}
.txt-striking {
	color: #FF6600 !important;
}
/*----------------------------sign-calendar-------------------------------------*/
.sign-wMonth {
	background-position: 0 0;
	height: 85px;
	position: relative;
	width: 980px;
	margin-left: -730px;
	margin-top: 70px;
}
.sign-wMonth .item {
	cursor: pointer;
	float: left;
	font-size: 15px;
	height: 65px;
	line-height: normal;
	margin-right: 6px;
	padding-top: 26px;
	position: relative;
	text-align: center;
	width: 45px;
	z-index: 2;
}
.monthnow {
	background: url(../images/mod-sign/hd.png) no-repeat;
	width: 46px;
	height: 64px;
}

.sign-wMonth .on {
	background: url(../images/mod-sign/hd.png) ;
	width: 46px;
	height: 64px;
	}

.sign-wMonth .on {
	background: url("../images/mod-sign/hd.png");
	
	transition:0.5s ease-in-out; 
	left: 1px; top: -2px; 
    width: 46px;
	height: 64px;
	 position: absolute; 
	 z-index: 1; -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out;
}

.sign-wMonth-1 .item-1, .sign-wMonth-2 .item-2, .sign-wMonth-3 .item-3, .sign-wMonth-4 .item-4, .sign-wMonth-5 .item-5, .sign-wMonth-6 .item-6, .sign-wMonth-7 .item-7, .sign-wMonth-8 .item-8, .sign-wMonth-9 .item-9, .sign-wMonth-10 .item-10, .sign-wMonth-11 .item-11, .sign-wMonth-12 .item-12 {
	font-weight: bold;
}
.sign-wMonth-1 .on {
	left: 0;
}
.sign-wMonth-2 .on {
	left: 51px;
	top: -1px;
}
.sign-wMonth-3 .on {
	left: 102px;
	top: 0;
}
.sign-wMonth-4 .on {
	left: 153px;
	top: 0;
}
.sign-wMonth-5 .on {
	left: 204px;
	top: 0;
}
.sign-wMonth-6 .on {
	left: 255px;
	top: 0;
}
.sign-wMonth-7 .on {
	left: 306px;
	top: 0;
}
.sign-wMonth-8 .on {
	left: 357px;
	top: 0;
}
.sign-wMonth-9 .on {
	left: 408px;
	top: 0;
}
.sign-wMonth-10 .on {
	left: 459px;
	top: 0;
}
.sign-wMonth-11 .on {
	left: 510px;
	top: 0;
}
.sign-wMonth-12 .on {
	left: 561px;
	top: 0;
}
.sign-wMonth-year {
	font-size: 16px;
	font-weight: bold;
	line-height: normal;
	position: absolute;
	right:130px;
	top: 40px;
}
.sign-wMonth-list {
	left: 30px;
	position: absolute;
	top: 14px;
}
.sign-wDay {
    background-position: 0 -85px;
    height:370px;
    line-height: normal;
    width:1115px;
	margin-left:-730px;
	
	
}
.sign-calendar .sign-wDay {
    margin-top: 15px;
}
.sign-wDay-top {
    font-size: 12px;
    padding-top: 38px;
	padding-left:20px;
}
.sign-wDay-top .title {
    font-size: 18px;
    font-weight: bold;
    margin-left: 85px;
    margin-right: 12px;
}
.sign-wDay-top .title strong {
    font-size: 24px;
}
.sign-wDay-panel .week {
    border-bottom: 1px solid #DCDCDC;
    color: #B0B0B0;
    line-height: normal;
    margin: 60px 33px 0 29px;
	width:1000px;
	margin-left:50px;
	

	
}
.sign-wDay-panel .week span {
    margin-right:31px;
    text-align: center;
    width: 40px;
	margin-left:10px;
}
.sign-wDay-panel .week .last {
    margin-right: 0;
	margin-right:15px;
}
.sign-wDay-panel .week .spe {
    color: #FFA6A6;
	margin-left:15px;
}
.sign-wDay-panel .date {
    margin-left: 29px;
	margin-top:10px;
	width:1000px;
	margin-left:60px;
}
.sign-wDay-panel .date span {
    background-color: #E1E1E1;
    border: 2px solid #E1E1E1;
    float: left;
    font-size: 22px;
    height: 36px;
    line-height: 36px;
    margin-right: 31px;
    margin-top: 10px;
    position: relative;
    text-align: center;
    width: 36px;
}
.sign-wDay-panel .date .off {
    background-color: #F5F5F5;
    border-color: #F5F5F5;
    color: #D2D2D2;
}
.sign-wDay-panel .date .signed {
    background-color: #FFFFE1;
    background-position: -30px -433px;
    font-weight: bold;
}

.sign-wDay-panel .date-ico-eight {
    position: absolute;
    right: -11px;
    top: 22px;
}
.sign-wDay-panel .off .date-ico-hook {
    background-position: -112px -448px;
}
.sign-wDay-panel .off .date-ico-eight {
    background-position: -160px -448px;
}
.sign-wDay-panel .date-ico-hook {
    position: absolute;
    right: -2px;
    top: 17px;
}
.date-ico-hook {
    background-position: -32px -530px;
    height: 21px;
    width: 35px;
}
.get-codes-bdshare a,.bds_more{margin-left: -10px;}
