@charset "UTF-8";
/* CSS Document */
.mod-sign-top{ width:100%; height:470px; background:url(../img/sign/sign_topbg.png) no-repeat #e6eaed; }
.mod-sign-bottom{ width:100%; min-height:555px; height:auto; background:#e6eaed;}
.sign-bottom-inner{ width:813px; height:505px; background:#aed6fa; margin:0 auto;}
.sign-left{ width:45%; float:left; height:100%; margin-left:20px;}
.sign-left h2{ width:100%; height:100px; line-height:100px; color:#fff; text-align:center; font-size:30px; font-weight:bold;              text-shadow:3px 3px 3px #666;}
.sign-left ul{ width:85%; height:280px; margin:0 auto;color:#fff; line-height:24px; list-style-type:decimal;} 
.sign-left dl{ list-style-type:decimal;}
.bd-button input {
    background:#00a7f5;
    border: 0 none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 240px;
	cursor:pointer;
	margin-left:80px;
}
.bd-button input:hover{background:#0088f1;} 
.sign-right{width:49%; float:right; height:100%;  }
.notice_rt{ width:170px; height:15px; background:url(../img/sign/share_bg.png) no-repeat; padding:10px 5px; margin-top:35px; margin-left:200px;}
.sign-total{ height:60px; line-height:80px; width:80%; margin-left:43px;}
.sign-total em{ color: #349CD8;}
.sign-wDay {
   height:293px;
    line-height: normal;
    width:325px;
	margin-left:20px;
	background:#a0c7ed;
	padding-left:10px;
	padding-top:10px;

	}
.sign-calendar .sign-wDay {
    margin-top: 15px;
}
.sign-wDay-top {
    font-size: 12px;
    margin-left:0px;
	width:316px;
	background:#61a5e2;
	height:40px;
	line-height:40px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
}
.sign-wDay-top .title {
    font-size: 14px;
    margin-left:20px;
    margin-right: 12px;
	color:#fff;
}
.sign-wDay-top .sign-date{ float:right; margin-right:10px; color:#fff; font-size:14px;}
.sign-wDay-panel .week {
    border-left:1px solid #bbb;
	color: #B0B0B0;
    line-height: normal;
    margin:10px 33px -10px 0;
	width:318px;
	}
.sign-wDay-panel .week span {
    text-align: center;
    width:44px;
	height:20px;
    border:1px solid #bbb;
	border-left:none;
	background:#f8f8f9;
	display:inline-block;
	float:left;
	
}
.sign-wDay-panel .week .last {
    margin-right: 0;
	
}
.sign-wDay-panel .week .spe {
    color: #349CD8;
	}
.sign-wDay-panel .date {
    margin-top:10px;
	width:345px;
	margin-left:1px;
}
.sign-wDay-panel .date span {
    background-color: #fff;
   
    float: left;
    font-size:18px;
    height: 36px;
    line-height: 36px;
    position: relative;
    text-align: center;
    width:44px;
	 border-right:1px solid #bbbbbb;
	  border-bottom:1px solid #bbbbbb;
}
.sign-wDay-panel .date .off {
    background-color: #fff;
    border-color: #F5F5F5;
    color: #D2D2D2;
	 border-right:1px solid #bbbbbb;
	  border-bottom:1px solid #bbbbbb;
}
.sign-wDay-panel .date .signed {
    background-color: #FFFFE1;
    background-position: -30px -433px;
    font-weight: bold;
}

.sign-wDay-panel .date-ico-eight {
    position: absolute;
    right: -11px;
    top: 22px;
}
.sign-wDay-panel .off .date-ico-hook {
    background-position: -112px -448px;
}
.sign-wDay-panel .off .date-ico-eight {
    background-position: -160px -448px;
}
.sign-wDay-panel .date-ico-hook {
    position: absolute;
    right: -2px;
    top: 15px;
}
.date-ico-hook {
	background:url(../img/sign/ico-hook.png) no-repeat;
    height: 21px;
    width: 35px;
}
