@charset "UTF-8";
/* CSS Document */
.top_w{ width:100%; height:1183px; background:url(../images/shops/top_bg.jpg) no-repeat center 0;}
.center_w{width:100%; background:#fff;}
.center{ width:1215px; min-height:500px; height:auto; margin:0 auto; background:#fff;}
.center_t{  width:1215px;height:495px;margin:0 auto;}
.center_c{  width:1215px;height:408px;margin:0 auto;}
.center_b{  width:1215px;height:577px;margin:0 auto;}
.center_t_left{ width:210px; height:495px; float:left; background:url(../images/shops/first_t.png) no-repeat; ; margin-left:20px;}
.center_t_right{ width:775px; height:495px; float:right; margin-right:185px; ;}
.center_c_right{ width:775px; height:408px; float:right; margin-right:185px; ;}
.center_b_right{ width:775px; height:577px; float:right; margin-right:185px; ;}
.center_c_left{ width:210px; height:408px; float:left; background:url(../images/shops/second_t.png) no-repeat; ; margin-left:20px;}
.center_b_left{ width:210px; height:577px; float:left; background:url(../images/shops/third_t.png) no-repeat; ; margin-left:20px;}
.bottom_w{ width:100%; background:#c22433;}
.bottom_top{ width:100%; height:215px; background:url(../images/shops/bottom_top.jpg) no-repeat center 0; }
.bottom_top_c{ width:1215px; height:215px; margin:0 auto;;}
.bottom_top_c span{ font-size:24px; font-weight:bold; color:#fff; width:800px; height:50px; line-height:50px; float:right; margin-top:100px; margin-right:100px;  }
 { width:100%; height:325px;}
 .bottom_center_w{ width:100%; background:#c22433;padding-bottom:60px;}
 .bottom_center{width:890px; margin:0 auto;}
 .partner_c{ width:890px; border:2px solid #fff; border-radius:5px;min-height:315px; height:auto; margin:0 auto; color:#fff; padding-top:10px; padding-bottom:10px;  }
 .partner_c span{ display:inline-block; width:90%; margin:0 5%; line-height:24px;margin-bottom:10px; display:inline-block;}
 .shop_title{ width:100%; font-size:30px; color:#c22433; height:68px; line-height:88px; text-align:left; font-weight:bold}
 .fl_c{min-height:335px; height:auto; border:1px solid #c22433; margin-top:15px;}
 .share_c{min-height:323px; height:auto; border:1px solid #c22433;margin-top:15px;}
 .face_c{min-height:322px; height:auto; border:1px solid #c22433;margin-top:15px;}
 .fl_left{ width:35px; height:355px; float:left; background:#c22433; color:#fff;}
 .fl_left span,.share_left span,.face_left span{ width:10px; height:100px;  display:inline-block; margin-top:20px; padding:0 10px;word-spacing:8px ; color:#fff;}
 .share_left{width:35px; height:323px; float:left; background:#c22433;}
 .face_left{width:35px; height:322px; float:left; background:#c22433;}
 .fl_right{ width:675px; height:325px; ; margin:15px auto; margin-left:65px;}
 .share_right{width:675px; height:250px; ; margin:15px auto; margin-left:65px;}
 .face_right{width:675px; height:250px; ; margin:15px auto; margin-left:65px;}
 .share_right h2{ font-size:16px; font-weight:bold; margin-top:20px;}
 .fl_right_ts{ color:#c22433; font-weight:bold;}
 ul.fl_list{ list-style-type:decimal; margin-left:22px; line-height:38px; }
 span.fl_txt{ display:inline-block; line-height:35px; background:#c22433; width:90%; color:#fff; margin:0 auto; margin-top:20px; padding:0 5%;}
 a.bm_btn{ width:125px; height:48px; display:inline-block; position:absolute;background:url(../images/shops/btn_01.png) no-repeat;}
 a.bm_btn:hover{  background:url(../images/shops/btn_02.png) no-repeat;}
  a.game_btn{ width:125px; height:48px; display:inline-block; position:absolute;background:url(../images/shops/btn_03.png) no-repeat; margin-left:10px;}
 a.game_btn:hover{  background:url(../images/shops/btn_04.png) no-repeat;}
 .lucky{ height:135px; width:775px; background:#f6dde0; border:2px  solid #fceff4; border-radius:5px; margin-top:20px;}
 .lucky h2{ font-size:16px; color:#c22433; margin-left:30px; font-weight:bold; margin-top:15px;}
 .lucky ul { width:100%; margin-top:25px;margin-left:10px;}
 .lucky ul li{ width:155px; height:32px; line-height:32px; display:inline-block; float:left;}
 .lucky ul li dt{ width:32px; height:32px; float:left; margin-left:20px;}
 .lucky ul li dd{ color: #555555;display: inline-block; margin-left: 7px;overflow: hidden;text-align: left;text-overflow: ellipsis;white-space: nowrap;width: 80px;}
 .wy_logo{ display:inline-block; width:195px; height:60px; float:right; margin-right:5%;}