@charset "utf-8";
.wrap{ width:815px; height:400px; background:#333; border:1px solid #f16244; margin:0 auto; color:#fff; }
.panelForm{width:815px; height:135px; margin:0 auto; margin-top:50px; border-bottom:none;}
.form{ width:415px; height:40px; text-align:center;}
#username{ background-color:#333; border:none; border-bottom:1px solid #9a9a9a;}
.panelB{ width:626px; height:76px; display:inline-block; margin:0 auto; border-bottom:1px solid #5c5c5c; border-top:1px solid #5c5c5c; text-align:center; margin-left:95px;}
.panelB_L{ width:312px;height:76px; line-height:76px; float:left; border-right:1px solid #5c5c5c; }
.panelB_R{width:313px;height:76px; line-height:76px; float:left; }
.no_register{width:313px; height:36px; line-height:36px; margin:0 auto; text-align:center; margin-top:15px;}
.no_register a{ color:#fff;}