@charset "UTF-8";
/* CSS Document */
/*设置安全邮箱弹出框*/
.sec-box{ width:458px; min-height:225px; height:auto;border: 1px solid #DCE1E3;left:40%;position: absolute;top:50%; z-index:99; background:#fff; padding-bottom:10px;}

.sec-box-title{ width:100%; height:46px; background:#366792; line-height:46px;}
.sec-box-title h2{ width:30%; float:left; margin-left:20px; color:#fff; font-weight:normal;}
span.sec-close{ width:28px; height:28px; line-height:80px; overflow:hidden; float:right; background:url(../images/common/colse.png) no-repeat; cursor:pointer; margin-top:10px; margin-right:15px;}
.sec-group{ width:90%; height:50px; line-height:50px;  margin:0 auto;margin:30px auto 20px;}
.sec-label{ line-height:40px; width:91px;}
.sec-group input{  border: 1px solid #B4B9BD;height: 18px;line-height: 18px;padding: 11px 5px;width: 250px;}
.sec-save{ width:100%; height:50px; line-height:50px; text-align:center;}
.sec-save a{ background:#29557c;border: 0 none; border-radius: 3px;color: #FFFFFF;cursor: pointer;display: inline-block;
            font-size: 16px;height: 42px;line-height: 42px;text-align: center;width: 113px;}
.sec-save a:hover{background:#204569;}
.ts-title{ width:90%; height:36px; line-height:36px; margin:0 auto;  margin-top:15px; font-size:14px; font-weight:bold; }
.ts-title em{ font-size:11px; font-style:normal;}
.login-error {color: #D35352;display: none;height:24px;line-height:24px;width: 250px;margin-left:110px;}
.login-error table {height: 40px;vertical-align: middle;width: 100%;}
.login-error td { height: 40px;}
